*.apk
SoundWaver/.vscode/
SoundWaver/Assets/ImportAsset/AssetStore/
SoundWaver/Library/
SoundWaver/obj/
SoundWaver/Temp/
SoundWaver/Assets/ImportAsset/Standard/
SoundWaver/Assets/Resources/Sound/
SoundWaver/.vs/
*.zip
*.mp3
*.wav
